snippet pyheader "Defines a standard header for a Python project" !b
#!/usr/bin/env ${1:python3}
# -*- coding: ${2:utf-8} -*-
endsnippet

snippet pycoding "Defines the encoding for a python source file" !b
# -*- coding: ${2:utf-8} -*-
endsnippet
