snippet var "Defines a variable in Terraform" !b
variable "${1}" {
	type        = ${2}
	description = "${3}"
}
endsnippet

snippet output "Defines an output in Terraform" !b
output "${1}" {
	value       = ${2}
	description = "${3}"
}
endsnippet
