[Unit]
Description=Syncthing Status Indicator
StartLimitIntervalSec=60
StartLimitBurst=4

[Service]
ExecStart=%h/bin/ststatus
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
