# The device ID for our central syncthing instance.
#
# Should be a valid syncthing device ID of the form:
# XXXXXXX-XXXXXXX-XXXXXXX-XXXXXXX-XXXXXXX-XXXXXXX-XXXXXXX-XXXXXXX
export SYNCTHING_CENTRAL_DEVICE_ID=''
